body {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('pixel-lakes-sunny-and-sunset-pixel-art-landscape-series-v0-o2haw9e2f0sb1.jpg'); /* Фоновое изображение стола */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    color: #ece4e4;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Cinzel', serif;
}

button:hover {
    background-color: #0056b3;
}

canvas {
    width: 90%; /* Ширина canvas в процентах от ширины окна */
    max-width: 800px; /* Максимальная ширина canvas */
    height: auto; /* Высота canvas автоматически подстраивается под соотношение сторон */
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для пергамента */
    border-radius: 10px; /* Скругление углов для пергамента */
    margin: 20px auto;
    display: block;
    position: relative; /* Добавляем позиционирование для внутреннего сообщения */
}

div {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Темный фон для блоков */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Тень для блоков */
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    color: #ffffff; /* Белый цвет текста */
    font-family: 'Cinzel', serif;
    font-size: 18px; /* Увеличенный размер шрифта */
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-color: #f0f0f0; /* Светлый фон для полей ввода */
    color: #000000; /* Черный цвет текста */
}

input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.status-message {
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none; /* Скрываем сообщение по умолчанию */
    z-index: 2;
}

@media (max-width: 600px) {
    canvas {
        width: 95%; /* Увеличиваем ширину canvas на маленьких экранах */
    }
}